.categories-links {
  @include flex-center(column, 20px); 
  margin: 20px 0;
}

.categories-box {
  @include box($color-primary, 25px, $radius:none); 
  text-align: center;
  width: 200px;
  transition: transform 0.2s ease;
  background-color: $color-secondary;
  a {
    text-decoration: none;
    color: $color-text;
    font-weight: 600;
    font-size: 20px;
    transition: 0.3s;

    &:hover {
      color: $color-hover;
      transform: scale(1.05);
    }
  }
}


@include respond(tablet) {

  .categories-box {
    width: 250px;
  }

  .cate-main-cont{
    margin: 20px;
  }
}

@include respond(desktop) {
  .categories-links {
    @include flex-center(column, 40px);
  }

  .categories-box {
    width: 300px;
    padding: 30px;
  }
}
