.cont-car-inf {
  @include flex-center(row, 20px);
  flex-wrap: wrap;
  margin: 10px;
  
  .car-card-inf {
     @include glass(12px);
    @include flex-center(column);
    justify-content: flex-start;
    width: 220px;
    padding: 10px;
    @include box($border-color: $color-border, $padding: 10px, $radius: none);
    text-align: center;
    margin: 10px 10px 40px;

   animation: slideInLeft 2s ease both;
  animation-timeline: view();
  animation-range: entry 20% cover 30%;


    .descrip-text-car {
      margin: 10px 0;

      h3 {
        font-family: $font-main;
        color: $color-light-bg;
        font-size: 1.1rem;
        margin-bottom: 0.3rem;
      }

      p {
        font-family: $font-main;
        color: $color-light-bg;
        font-size: 0.9rem;
        margin: 0.2rem 0;
      }
    }

    a.btn {
      @include box($border-color: $color-primary, $padding: 0.5rem 1rem, $radius: $radius);
      background-color: $color-secondary;
      color: #fff;
      text-decoration: none;
      font-family: $font-main;
      margin-top: 0.5rem;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: $color-hover;
      }
    }
  }

  @include respond(tablet) {
    .car-card-inf {
      width: auto;

      img {
        width: 400px;
      }
    }
  }

  @include respond(desktop) {
    .car-card-inf {
      img {
        width: 500px;
      }
    }

     .car-card-inf img {
     width: 400px;
     height: 300px;
     object-fit: cover
    }

  }
}