
.form-contact {
  @include flex-center(column, 30px);
}


.form-contact-elements {
  @include flex-center(column, 20px);
  width: 90%;
  max-width: $max-width;
  margin: 0 auto;
}

.form-cont {

  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-text {
  @include glass(12px);
  color: $color-text;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.6;
  text-align: justify;
  padding: 15px;
  color: $color-light-bg;
  border-left: 4px solid $color-primary;
  border-radius: $radius;
  width: 100%;
  font-size: 15px
}

form {
  @include glass(12px);
  width: 100%;
  padding: 20px;
  border-radius: $radius;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 2px solid $color-border;

  input,
  select,
  textarea {
    border-radius: $radius;
  }

  .form-check-label {
    color: $color-text;
  }

  button {
    @include box($color-primary, 12px, $radius);
    background-color: $color-primary;
    color: white;
    font-weight: 600;
    cursor: pointer;
    border: none;
    transition: 0.3s;

    &:hover {
      background-color: $color-hover;
    }
  }
}

.decorative-car {
  position: absolute;
  width: 300px;
 
}

@include respond(tablet) {
  .form-contact-elements {
    @include flex-center(row, 20px);
    justify-content: space-between;


   
  }

  .contact-text {
    width: 45%;
    font-size: 18px;
    color: $color-light-bg;
  }

  form {
    width: 45%;
  }
}

@include respond(desktop) {
  .form-contact-elements {
    @include flex-center(row, 0px);
    gap: 20px;
  }

  .contact-text {
    width: 600px;
  }

  .form {
    width: 40%;
  }

  .form-cont {

    justify-content: end;
  }

  .decorative-car {

    width: 600px;
  }

}