* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}




body {
  font-family: $font-main;
background: $background-style !important;

}

main {
   //background-color: $color-bg;
     color: aliceblue;
}

h1{
  text-align: center;
}

