
@keyframes slideInLeft {
  from {
    opacity: 0;
    transform: translateX(-40px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.new-yellow-icon{

  width: 35px;

 
}

.with-icon{
  display: flex;
  flex-direction: row;
}
.home-present{
  margin-bottom: 60px;
}

.home-present-img {
  width: 100%;
  height: 200px;
  display: block;
  object-fit: cover;
}

.mt-1{
animation: slideInLeft 2s ease both;
  animation-timeline: view();
  animation-range: entry 20% cover 30%;
  @include glass(12px);
}

.carousel-item {

  border: 4px solid $color-hover;
}

main {
  margin-bottom: 60px;
 
 
  .row-1 {
    @include grid(1, 10px);
    width: 100%;
    margin: auto;
   
  }

  .row-2 {
    display: none;

    @include respond(tablet) {
      display: grid;
      @include grid(3, 10px);
    }
  }

  @include respond(tablet) {
    margin: 20px;
  }

  @include respond(desktop) {
    .row-1 img {
    
      margin: 0;
    }
  }
}

.carousel-inner {
  
@include glass(12px);
  .carousel-item img {
    width: 100%;
    max-height: 400px;
    object-fit: cover;
    border: 5px solid $color-bg;

    @include respond(desktop) {
      width: 80%;
      height: 400px;
    
    }
  }
}

.cart_icon {
  background: transparent;
  border: none;
  outline: none;
  padding: 0;
  color: white;
  font-size: 25px;
  margin-right: 40px;
}


.cart-button {
  position: fixed;
  right: 20px;
  bottom: 20px;
  background: #f71911;
  color: white;
  padding: 12px 15px;
  border-radius: 50%;
  font-size: 22px;
  cursor: pointer;
 
}
#cart-panel {
  color: white;
  position: fixed;
  top: 0;
  right: -400px;
  width: 400px;
  height: 100vh;
  box-shadow: -2px 0 10px rgba(0,0,0,.3);
  transition: .4s ease;
  z-index: 9999;
  padding: 20px;
      background: rgba(255, 255, 255, 0.411);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
}

#cart-panel.active {
  right: 0;
}

.cart-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#close-cart {
  background: red;
  color: white;
  border: none;
  padding: 6px 10px;
  cursor: pointer;
}

