$color-bg: #2E2E2E;
$color-bg-h1: #1a1919;
$color-border: #252525;
$color-primary: #3B3936;
$color-secondary: #FA7F08;
$color-background-effect:#F24405;
$color-text: #232625;
$color-light-bg: #f4f4f4;
$color-hover: #af4213;
$color-third: #237066;
$font-main: 'Poppins', sans-serif;
$max-width: 1200px;
$radius: 10px;
$gradient-angle: 135deg;  
$ellipse-width: 60%; 
$ellipse-height: 100%;  



$bp-tablet: 600px;
$bp-desktop: 1024px;

$background-style: linear-gradient(
      $gradient-angle,
  $color-bg 0% 33%,
  $color-background-effect 33% 66%,
  $color-third 66% 100%);
                    

@mixin glass($blur: 10px) {
  background: rgba(255, 255, 255, 0.13);
  backdrop-filter: blur($blur);
  -webkit-backdrop-filter: blur($blur);
}


@mixin flex-center($direction: row, $gap: 0) {
    display: flex;
    flex-direction: $direction;
    justify-content: center;
    align-items: center;
    gap: $gap;
}


@mixin box($border-color: $color-primary, $padding: 20px, $radius: $radius) {
    border: 3px solid $border-color;
    border-radius: $radius;
    padding: $padding;
}


@mixin grid($columns: 1, $gap: 10px) {
    display: grid;
    grid-template-columns: repeat($columns, 1fr);
    gap: $gap;
}


@mixin respond($breakpoint) {
    @if $breakpoint ==tablet {
        @media (min-width: $bp-tablet) {
            @content;
        }
    }

    @else if $breakpoint ==desktop {
        @media (min-width: $bp-desktop) {
            @content;
        }
    }
}